body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 60vh 20vh;
}

.item {
  color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: lightpink;
  grid-column: span 12;
  grid-row: 1/2;
}

.menu {
  background-color: indigo;
  grid-column: span 4;
}

.content {
  background-color: indianred;
  grid-column: span 8;
}

.footer {
  background-color: lightblue;
  grid-column: span 12;
}
