body {
  width: 500px;
}
.cookies {
  position: fixed;
  background-color: black;
  color: white;
  bottom: 0;
  right: 0;
}

ul {
  list-style: none;
}

li {
  display: inline;
  margin-left: 12px;
}
